* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bagian Navbar*/

.navbar{
    background-color: #333;
    padding: 1rem;
}

/* bagian hero/utama display */
.hero-section{
    padding: 20px;
    background-color: #f4f4f4;
    height: 300px;
}
