* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lora' , serif;
}


/* bagian hero/utama display */
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero a{
    padding: 1rem;
    margin: 2rem;
    text-decoration: none;
    background-color: aqua;
    border-radius: 10px;
}

.slogan{
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: xx-large;

}
/* Bagian Navbar*/
.navbar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* list */
.navbar .list {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    text-decoration: none;
}

.navbar .list li a{
text-decoration: none;

}

/*shop*/
.wadah-kartu{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
   gap: 2rem;
   margin-top: 2rem;
}

.kartu-produk{
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 10px;
   box-shadow: 0px 4px 8px 0px rgba(0,0,0,1);
   width: 300px;
}

.fitur_produk{
    padding: 4rem 0;
}

.galeri-shop{
    padding: 2rem 2rem;
    min-height: 100vh;
}

.galeri-nama{
    display: grid;
    justify-content: center;
    text-align: center;
}

/*about*/
.about-container{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.about-konten{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-foto, .about-text{
    flex: 1;
}

.about-foto img{
    width: 100%;
    border-radius: 10px;
}

footer{
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
    color: #eaeaea;
}

